<?xml version="1.0"?>
<launch>

  <arg name="odom_topic" default="visual_slam/odom" />
  <arg name="map_size_x" default="40.0" />
  <arg name="map_size_y" default="20.0" />
  <arg name="map_size_z" default="5.0" />
  <arg name="init_x" value="-19.0" />
  <arg name="init_y" value="-8.0" />
  <arg name="init_z" value="1.5" />

  <node name="random_forest" pkg="map_generator" type="random_forest" output="screen">
    <remap from="~odom" to="$(arg odom_topic)" />
    <param name="init_state_x" value="$(arg init_x)" />
    <param name="init_state_y" value="$(arg init_y)" />
    <param name="init_state_z" value="$(arg init_z)" />
    <param name="map/x_size" value="$(arg map_size_x)" />
    <param name="map/y_size" value="$(arg map_size_y)" />
    <param name="map/z_size" value="$(arg map_size_z)" />
    <param name="map/resolution" value="0.1" />

    <param name="map/fix_map_type" value="5" />

    <param name="ObstacleShape/seed" value="1" />
    <param name="map/obs_num" value="0" />
    <param name="ObstacleShape/lower_rad" value="0.5" />
    <param name="ObstacleShape/upper_rad" value="0.7" />
    <param name="ObstacleShape/lower_hei" value="0.0" />
    <param name="ObstacleShape/upper_hei" value="3.0" />

    <param name="map/circle_num" value="0" />
    <param name="ObstacleShape/radius_l" value="0.8" />
    <param name="ObstacleShape/radius_h" value="0.5" />
    <param name="ObstacleShape/z_l" value="0.7" />
    <param name="ObstacleShape/z_h" value="0.8" />
    <param name="ObstacleShape/theta" value="0.6" />

    <param name="sensing/radius" value="50.0" />
    <param name="sensing/rate" value="10.0" />

    <param name="min_distance" value="1.23" />
  </node>

  <node name="test_hill_terrain_searching" pkg="test" type="test_hill_terrain_searching" output="screen">
    <param name="grid_map/resolution" value="0.1" />
    <param name="grid_map/map_size_x" value="40.0" />
    <param name="grid_map/map_size_y" value="20.0" />
    <param name="grid_map/map_size_z" value="5.0" />
    <param name="grid_map/local_update_range_x" value="40.0" />
    <param name="grid_map/local_update_range_y" value="20.0" />
    <param name="grid_map/local_update_range_z" value="5.0" />
    <param name="grid_map/obstacles_inflation" value="0.099" />
    <param name="grid_map/local_map_margin" value="30" />
    <param name="grid_map/ground_height" value="-0.01" />

    <param name="grid_map/cx" value="321.04638671875" />
    <param name="grid_map/cy" value="243.44969177246094" />
    <param name="grid_map/fx" value="387.229248046875" />
    <param name="grid_map/fy" value="387.229248046875" />

    <param name="grid_map/use_depth_filter" value="true" />
    <param name="grid_map/depth_filter_tolerance" value="0.15" />
    <param name="grid_map/depth_filter_maxdist" value="5.0" />
    <param name="grid_map/depth_filter_mindist" value="0.2" />
    <param name="grid_map/depth_filter_margin" value="1" />
    <param name="grid_map/k_depth_scaling_factor" value="1000.0" />
    <param name="grid_map/skip_pixel" value="2" />

    <param name="grid_map/p_hit" value="0.65" />
    <param name="grid_map/p_miss" value="0.35" />
    <param name="grid_map/p_min" value="0.12" />
    <param name="grid_map/p_max" value="0.90" />
    <param name="grid_map/p_occ" value="0.80" />
    <param name="grid_map/min_ray_length" value="0.1" />
    <param name="grid_map/max_ray_length" value="4.5" />
    <param name="grid_map/virtual_ceil_height" value="2.5" />
    <param name="grid_map/visualization_truncate_height" value="2.4" />
    <param name="grid_map/show_occ_time" value="false" />
    <param name="grid_map/pose_type" value="2" />
    <param name="grid_map/frame_id" value="world" />

    <param name="astar/resolution" value="0.2" />
    <param name="astar/lambda_heu" value="1.0" />
    <param name="astar/allocated_node_num" value="10000000" />

    <param name="test_mode" value="bypass" />

    <remap from="/grid_map/cloud" to="/random_forest/global_cloud" />
    <remap from="/grid_map/odom" to="/visual_slam/odom" />
  </node>

</launch>